* {
  overflow-y: visible;
  overflow-x: hidden;
}
.App {
  text-align: center;
}
section{
  position: relative;
  height: 110vh;
  width: 100vw;

}
.NavBar{
  position: absolute;
  width: 80vw;
  height: 140px;
  z-index: 100;
  translate: calc(50vw - 40vw) 40px;
  background-image: url('background-images/Outer\ Nav\ Bar.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.Hole {

}
.Home{
  background-color: #1E1E1E;
  height: 100vh !important;;
  background-image: url('background-images/Rectangle\ 3.png');
  background-position-x:right;
  background-repeat:no-repeat;
  background-size:contain;
  
}
.AboutMe{
  background-image: url('background-images/screen\ 2.png');
  background-position-x:right;
  background-repeat:no-repeat;
  background-size:cover;
  height: 135vh !important; /*if the height is too small, it clips the image*/
  padding-top: 5vh;
  position: absolute;
  z-index: 2;
  
}
.Projects{
  background-image: url('background-images/screen\ 3.png');
  background-position-x:right;
  background-repeat:no-repeat;
  background-size:cover;
  height: 125vh !important;  
  padding-top: 25vh;
  translate: 0 120vh;
  position: absolute;
  z-index: 1;
}
.Clubs{
  background-image: url('background-images/screen\ 4.png');
  background-position-x:right;
  background-repeat:no-repeat;
  background-size:cover;
  height: 115vh !important;
  padding-top:25vh;
  translate: 0 250vh;
  position:absolute;
  z-index: 0;
}
footer{
  background-color: #FFFFFF;
  height: 200px;
  width: 100vw;
}
