* {
  /*font-family: 'Doppio One'; /*doesn't work*/
}
h1{
  margin: 0;
  font-size:70px;
  color: #D9D9D9;
}
h2{
  margin: 0;
  font-size: 40px;
  color: #D9D9D9;
  padding-bottom: 12px;
}
p{
  margin: 0;
  font-size: 32px;
  color: #D9D9D9;
  padding-bottom: 20px;
}
.App {
  text-align: center;
  overflow-x: hidden;
  height:100vh;
}
section{
  position: relative;
  height: 125vh;
  padding-top: calc(0vh + 108px);
  width: 100vw;

}
ul{
  padding:0px;
}
.NavContainer{
  width:100%;
  display:flex;
  justify-content: center;
  position: fixed;
  z-index:1000;
  height: 108px;
  top:0px;
}
.Nav1{
  position: absolute;
  z-index:1000;
  overflow:hidden;
  width: 1280px;
  height: 108px;
  margin:0 auto;
  top:0px;
  border-radius: 0 0 40px 40px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.Nav1:after{
  position: absolute;
  z-index:1000;
  overflow:hidden;
  content:'';
  border-radius:40px;
  width: 1168.73px;
  height: 68px;
  box-shadow: 0px 0px 0px 2000px #3A414F;
}
.triangle-topright{
  position: absolute;
  z-index:1000;
  overflow:hidden;
  top:0;
  left:calc(50% + 640px + 0px - 1px);
  width: 0;
	height: 0;
	border-right: 16px solid transparent;
	border-top: calc(108px - 40px + 10px) solid #3A414F;
}
.triangle-topleft{
  position: absolute;
  z-index:1000;
  overflow:hidden;
  top:0;
  left:calc(50% - 640px - 16px + 1px);
  width: 0;
	height: 0;
	border-left: 16px solid transparent;
	border-top: calc(108px - 40px + 10px) solid #3A414F;
}
.Hole {
  position: relative;
  background: rgba(255, 255, 255, 0.6);
  width: 1168.73px;
  height: 68px;
  border-radius: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

li{
  padding: 0 24px;
  font-size: 36px;
  list-style: none;
}
li a{
  position: relative;
  z-index: 1001;
  text-decoration: none;
  color:#1E1E1E;
  font-weight:500;
  opacity: 55%;
}
.Home{
  background-color: #1E1E1E;
  height: 100vh !important;
  padding: 0 !important;
  background-image: url('background-images/Rectangle\ 3.png');
  background-position-x:right;
  background-repeat:no-repeat;
  background-size:contain;
  display: flex;
  justify-content: left;
}
.introBox{
  margin: 20px 15vw;
  height:calc(640px - 200px - 80px);
  padding: 200px 0 80px 0;
  width: 508px;
  background-color: #252525;
  border-radius: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
}

.getStartedBox{
  height: 76px;
  width: 364px;
  background-color:#3A414F;
  border-radius: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.getStarted{
  height: 52px;
  width: 240px;
  margin-right:12px;
  border-radius: 48px;
  font-size: 32px;
  color: #1E1E1E;
  font-weight: bold;
}
.innerSection{
  padding-top: 138px;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
}
.AboutMe{
  background-image: url('background-images/screen\ 2.png');
  background-repeat:no-repeat;
  background-size: 100% 100%;
  padding: 0 !important;
  height:120vh !important;
  position: relative;
  z-index: 2;
}
.AboutMeSection{
  margin-top: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between ;
  height: 536px;
  width: 1120px;
}
.pfp{
  height: 508px;
  text-align: left;
}
.AboutMeTextField{
  height: 508px;
  margin-top: 48px;
  text-align: left;
}

.Projects{
  background-image: url('background-images/screen\ 3.png');
  background-repeat:no-repeat;
  background-size: 100% 100%;
  margin-top:-11vh;
  position: relative;
  z-index:1;
  height:115vh !important;
}
.Clubs{
  background-image: url('background-images/screen\ 4.png');
  background-repeat:no-repeat;
  background-size: 100% 100%;
  margin-top:-10vh;
  position:relative;
  z-index: 0;
}
.club-panels-container{
  display: flex;
  justify-content: space-between;
  width:80vw;
  padding: 0 10vw;
}
.club-panel{
  background-color:#3A414F;
  height: calc(75vh);
  width:calc((100vw / 3));
  max-width: 280px;
  padding:32px;
  padding-top: 52px;
  margin:10px;
  border-radius: calc(50vh) calc(50vh) 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.club-image{
  background-color: #FFFFFF;
  height:calc((100vw / 3) - 20px);
  max-height: calc(280px - 20px);
  width: calc((100vw / 3) - 20px);
  max-width: calc(280px - 20px);
  border-radius:50%;
}

.club-panel-text{
  background-color:#FFFFFF;
  height:calc(70vh - 260px);
  width: calc((100vw / 3));
  max-width: 280px;
  border-radius: 20px;
}
footer{
  position:relative;
  background-color: #FFFFFF;
  height: 200px;
  width: 100vw;
  margin-top:-10vh;
  z-index: -1;

}



/* Subtract 
.Nav1::after{

  position: absolute;
  width: 1282.25px;
  height: 119.98px;
  left: calc(50% - 1282.25px/2 + 2.6px);
  top: -0.98px;

  background: #3A414F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/* Rectangle 6 
.Nav1{

  position: absolute;
  width: 1304px;
  height: 138px;
  left: 108px;
  top: -19px;

background: #3A4967;
z-index:999;
}


/* Rectangle 10 
.Nav2{
  position: absolute;
  width: 1168.73px;
  height: 76.89px;
  left: 171px;
  top: 21px;

  background: rgba(128, 128, 128, 0.55);
  border-radius: 40px;
  z-index:1000;

}
*/

