.ProjectContainer {
  margin-top: 3vh;
  background-image: url("background-images/ProjectBackground.png");
  background-size: calc(75vw + 1px) 70vh;
  background-repeat: no-repeat;
  width: 75vw;
  height: 70vh;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* height is 70vh, width is 75vw*/
.leftCol {
  padding: 5vh 5vw;
  height: calc(100% - 10vh);
  width: calc((75vw * 2 / 3) - 10vw);
  display: grid;
  grid-template-columns: auto auto auto;
}
.rightCol {
  /*background-color: white;*/
  display: grid;
  padding: 5vh 0vw 5vh 5vw;
  height: calc(100% - 10vh);
  width: calc((75vw * 1 / 3) - 5vw);
  border-radius: 40px;
}
li,
h2 {
  padding: 0;
  text-align: left;
}
li.Desc {
  list-style-type: circle;
}

button.Desc {
  width: 172px;
  height: 52px;
  border-radius: 20px;
  color: #1e1e1e;
  font-size: 32px;
}
