h2 {
  color: #f4b678;
  text-align: center;
}
h3 {
  color: #d9d9d9;
}

.projectGrid {
  display: inline-grid;
  width: 80vw;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  justify-content: space-evenly;
  column-gap: 20px;
  row-gap: 40px;
}

.projectCard {
  min-width: 340px;
  height: 532px;
  margin-bottom: 40px;
}

.projectImage {
  /*min-width: 250px;*/
  width: clamp(100px, 80%, 400px);
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  background-color: white;
}

@media (min-width: 1324px) {
  .projectCard:nth-child(2) {
    border-left: 1px #6d7481 solid;
    border-right: 1px #6d7481 solid;
  }
}
.projectCard:nth-child(2) {
  border-left: 1px #6d7481 solid;
}

@media (max-width: 875px) {
  .projectCard:nth-child(2) {
    border-left: none;
    border-right: none;
  }
}
